---
const DOWNLOAD_URL = "https://github.com/tomer-ben-david/2025-send-to-gmail-website/releases/download/v2025.12.26/QuiKey_v2025.12.26_arm64.dmg";
const VERSION = "v2025.12.26";

Astro.response = new Response(null, {
  status: 302,
  headers: { Location: DOWNLOAD_URL }
});
---

<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url={DOWNLOAD_URL}">
    <script>window.location.href = "{DOWNLOAD_URL}";</script>
  </head>
  <body>
    <p>Redirecting to download...</p>
  </body>
</html>
